out
node_modules
.vscode-test
*.ttc
*.ttm
*.so
*.ss
src/build/exec/_tmpchez
src/build/exec/echolex
src/build/exec/echotype
src/build/exec/echolex_app/compileChez
src/build/exec/echotype_app/compileChez
src/build/exec/exhotype.js
src/build/exec/echotype.js
src/build/exec/echolex.js
.DS_Store
